<ion-header>
  <ion-toolbar>
    <ion-title>Lista de Elementos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let elemento of elementos; let i = index">
      {{ elemento }}
      <ion-buttons slot="end">
        <ion-button (click)="editarElemento(i)">Editar</ion-button>
        <ion-button (click)="eliminarElemento(i)">Eliminar</ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>
  <ion-button expand="full" (click)="irAAgregar()">Agregar Elemento</ion-button>
</ion-content>
